.list_container {
    margin: 20px;
    text-align: center;
}

.list_container input {
    margin: 20px;
}

.todo_post {
    margin: 20px;
}

.todo_post button {
    margin: 15px;
}

.todo_post div {
    max-width: 200px;
}